.container {
  margin: 40px;
}

.usa-card__container {
  border: unset;
  margin: unset;
  border-radius: 8px;
  box-shadow: 0 7px 15px 0 rgba(27, 30, 41, 0.07);
  min-height: 126px;
  margin-bottom: 20px;
}

.card__header {
  background: rgba(165, 198, 224, 0.2);
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.grid-row-centered {
  display: flex;
  align-items: center;
  padding: 15px 15px 20px;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.title__row {
  margin-top: 40px;
  margin-bottom: 40px;
}

.title__container {
  min-width: 200px;
}

.title {
  color: var(--Brand-Primary-SBA-Blue);
  font-family: var(--Font-Primary);
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
}

.subtitle {
  font-family: var(--Font-Secondary);
  font-weight: 400;
  color: #002e6d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.subheader {
  color: var(--Brand-Primary-SBA-Blue);
  font-family: var(--Font-Primary);
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  margin: auto;
}

.subheader-padding {
  margin-top: 10px;
}

.badge {
  background: var(--warningwarning-lighter, #faf3d1);
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px 5px 12px;
  position: relative;
  background-color: var(--warningwarning-lighter);
  border-radius: 34px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--warningwarning);
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Brand-Primary-SBA-Blue);
}

.store_icon {
  fill: var(--Brand-Primary-SBA-Blue);
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.toggle__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.usa-card__body {
  padding: 12px 20px 18px 20px;
}

.usa-card__row {
  display: flex;
  align-items: center;
  width: 100%;
}

.usa-card__text-center {
  color: #002e6d;
  font-family: var(--Font-Primary);
  font-weight: 400;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
  margin-left: 0px;
}

@media screen and (max-width: 600px) {
  .usa-card__text-center{
    text-align:start;
  }
  .usa-card__text-end {
    text-align: start !important;
  }
}

.usa-card__text-end {
  color: #002e6d;
  font-family: var(--Font-Primary);
  font-weight: 400;
  font-size: 16px;
  flex-grow: 1;
  text-align: end;
  margin-left: 0px;
}
.usa-card__text-center:last-child {
  text-align: end;
}

.usa-card__text-center:first-child {
  text-align: start;
}
