.card__header {
    background: rgba(165, 198, 224, 0.20);
}

.badge {
    background: var(--warningwarning-lighter, #FAF3D1);
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 20px 5px 12px;
    position: relative;
    background-color: var(--warningwarning-lighter);
    border-radius: 34px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--warningwarning);

}

.badge svg {
    margin-right: 10px;
}