.usa-card__text-center {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex-grow: 1;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 500px) {
  .usa-card__text-right {
    max-width: 96px;
  }
  .usa-card__text-center {
    text-align: center;
  }
  .usa-card__row {
    flex-wrap: nowrap;
  }
}
@media (min-width: 640px) {
  .usa-card__text-right {
    max-width: none;
  }
  .usa-card__text-center {

  }
  .usa-card__row {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  .usa-card__text-right {
    max-width: none;
  }
  .usa-card__text-center {
    text-align: left;
  }
  .usa-card__row {
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .usa-card__text-right {
    max-width: 96px;
  }
  .usa-card__text-center {
    text-align: center;
  }
  .usa-card__row {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1536px) {
  .usa-card__text-right {
    max-width: none;
  }
  .usa-card__text-center {

  }
  .usa-card__row {

  }
}