.mainContainer {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    min-height: 100dvh;
    background-color: #F3F8FC;
}

.fixedTopGroup {
    position: fixed;
    top: 0;
    z-index: 2;
}

.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 0 20px;
    top: 33%;
    z-index: 1;
}

.welcomeMessage {
    font-family: var(--Font-Primary);
    color: var(--Brand-Primary-SBA-Blue);
    text-align: center;
    padding-top: 5px;
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
}

.bold {
    color: var(--Brand-Primary-SBA-Blue);
    font-family: var(--Font-Primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.mysbaMessage {
    font-family: var(--Font-Primary);
    color: var(--Brand-Primary-SBA-Blue);
    text-align: center;
    text-overflow: ellipsis;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    overflow-wrap: break-word;
    margin-top: 6px;
    max-width: 460px;
}

.cityscape {
    position: fixed;
    bottom: 0;
    height: 175px;
    min-width: 1022px;
    max-width: 1022px;
}

.cloudImage {
    position: fixed;
    top: 100px;
    min-width: 1337px;
    max-width: 1337px;
    max-height:181px;
    min-height:181px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.buttonGroup {
    margin-top: 22px;
    width: 100%;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.signupBtn {
    align-items: center;
    border: 2px;
    box-shadow: inset 0 0 0 2px var(--Brand-Secondary-Bright-Blue);
    color: var(--Brand-Secondary-Bright-Blue);
    display: flex;
    flex-shrink: 0;
    max-width: 100px;
    max-height: 38px;
    padding: 12px 20px;
    justify-content: center;
    margin-right: 0;
}

.loginBtn {
    border: 2px;
    display: flex;
    flex-shrink: 0;
    font-size: 18px;
    gap: 10px;
    width: 100px;
    height: 38px;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding: 0;
}

.usaNavContainer {
    width: 100%;
    margin: 0;
    max-width: unset;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.usaBannerInner {
    width: 100vw;
    margin: 0;
    max-width: unset;
    justify-content: start;
    padding-left: 16px;
}

.usaHeader {
    position: sticky;
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
    background: var(--Base-white);
}

.usaBannerHeader {
    text-align: left;
}


.usaLanguageContainer {
    padding-right: 20px;
}

.pillButton img {
    width: 20px;
    height: auto;
}

.usaLogo {
    height: 38px;
    flex: unset;
    display: block;
}

.usaLogoSm {
    height: 38px;
    flex: unset;
    display: none;
}

@media screen and (max-width: 1023px) {
    .usaLogoSm {
        display: block;
    }

    .usaLogo {
        display: none;
    }
}