.banner {
  position: relative;
  height: 276px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #f3f8fc;
  color: var(--Brand-Primary-SBA-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.welcomeMessage {
  font-family: var(--Font-Primary);
  color: var(--Brand-Primary-SBA-Blue);
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  line-height: 26px;
}

.mysbaMessage {
  font-family: var(--Font-Secondary);
  color: var(--Brand-Primary-SBA-Blue);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  overflow-wrap: break-word;
  white-space: normal;
  padding-top: 5px;
}

.cityscape {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: center;
  height: 166px;
  bottom: 0;
}

.alertContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /*padding-left: 120px;*/
  /*padding-right: 120px;*/
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  margin-bottom: 100px;
}

.cardsContainer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.businessesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px 20px 40px;
}

.businessHeaderRow {
  display: flex;
  align-items: center;
  gap: 24px;
}

.businessHeaderIcon {
  margin-right: 24px;
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.businessHeaderTitle {
  font-family: var(--Font-Primary);
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: var(--Brand-Primary-SBA-Blue);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboardContent {
  color: var(--Brand-Primary-SBA-Blue);
}

.certificationsHeaderLink {
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-right: 10px;
  padding: 2px;
  font-family: var(--Font-Secondary);
  color: var(--Brand-Primary-SBA-Blue);
}

.noBusinessesMessageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.noBusinesseIcon {
  height: 100px;
  width: 100px;
}

.noBusinessesText1 {
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.noBusinessesText2 {
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.rightContainer {
  width: 350px;
}

.certHeaderRow {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.certifications {
  font-family: var(--Font-Primary);
  font-weight: 400;
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 22px;
  letter-spacing: 0;
  margin-left: 10px;
}

.certificationsRow {
  padding-bottom: 40px;
}

.footerBtn {
  width: 100%;
}

.card {
  margin-bottom: 1rem;
  min-width: 300px;
}

.cardRow {
  padding-bottom: 24px;
}

.cardHeader {
  font-family: var(--Font-Primary);
  font-weight: 400;
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 32px;
}

.cardBody {
  font-family: var(--Font-Secondary);
  font-weight: 400;
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 16px;
}

.loanBusinessLabel {
  display: flex;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: var(--Brand-Primary-SBA-Blue);
  gap: 24px;
}

.loanLabel {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: var(--Brand-Primary-SBA-Blue);
}