.banner {
    position: relative;
    height: 276px;
    padding-top: 20px;
    background-color: #f3f8fc;
    color: var(--Brand-Primary-SBA-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

.welcomeMessage {
    font-family: var(--Font-Primary);
    color: var(--Brand-Primary-SBA-Blue);
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    line-height: 26px;
}

.mysbaMessage {
    font-family: var(--Font-Secondary);
    color: var(--Brand-Primary-SBA-Blue);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    width: 200px;
    margin: 0 auto;
    overflow-wrap: break-word;
    white-space: normal;
    padding-top: 5px;
}

.cityscape {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;
    height: 166px;
    bottom: 0;
}

.alertContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.businessesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px 20px 40px;
}

.businessHeaderRow {
    display: flex;
    align-items: center;
    gap: 24px;
 }

.businessHeaderIcon {
    margin-right: 24px;
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.businessHeaderTitle {
    font-family: var(--Font-Primary);
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: var(--Brand-Primary-SBA-Blue);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboardContent {
    color: var(--Brand-Primary-SBA-Blue);
}

.certificationsHeaderLink {
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-right: 10px;
    padding: 2px;
    font-family: var(--Font-Secondary);
    color: #002e6d;
}

.rightContainer {
    width: 350px;
}

.certHeaderRow {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.certifications {
    font-family: var(--Font-Primary);
    font-weight: 400;
    color: #002e6d;
    font-size: 22px;
    letter-spacing: 0;
    margin-left: 10px;
}

.certificationsRow {
   padding-bottom: 40px;
}

.footerBtn {
    width: 100%;
  }