.usa-panel {
  padding: 40px;
}

.usa-form label {
  margin-top: 24px;
}

.usa-button {
  margin-top: 24px;
}
.container {
  margin: 40px;
}

.profile-name {
  flex-grow: 1;
  font-family: var(--Font-Primary);
  font-weight: 400;
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 120%;
  margin-bottom: 40px;
}

.profile-subheading {
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 22px;
  font-family: var(--Font-Secondary);
  font-weight: 400;
  line-height: 120%;
}

.profile-label {
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 18px;
  font-family: var(--Font-Primary);
  font-weight: 600;
  line-height: 21px;
  padding-top: 16px;
  padding-bottom:4px;
}

.profile-info {
  color: var(--Brand-Primary-SBA-Blue);
  font-size: 17px;
  font-family: var(--Font-Secondary);
  font-weight: 400;
  line-height: normal;
}

.updates-label {
  color: black;
  font-size: 15px;
  font-family: var(--Font-Primary);
  font-weight: 400;
  word-wrap: break-word;
  margin-left:25px;
}

.usa-checkbox__input:checked + .usa-checkbox__label::before {
  background-color: #007dbc;
  border-color: #007dbc;
}

.usa-checkbox__label {
  padding-left: 45px;
}

.checkbox{ 
  padding-bottom: 41px;
  padding-left: 15px;
}

.divider {
  border-top: 1px solid #DCDEE0;
  padding-top: 16px;
  margin-top:16px;
}

.divider:last-child {
  border-top: 1px solid #DCDEE0;
  padding-top: 16px;
  padding-bottom: 31px;
}

.button-style {
  margin-top:24px;
  padding: 12px 20px; 
  background-color: #D54309;
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: none; 
  cursor: pointer; 
}

.button-style .button-text {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: var(--Font-Secondary);
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
}
