.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}
.alertsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titleContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.title {
    flex-grow: 1;
    font-family: var(--Font-Secondary);
    font-weight: 400;
    color: var(--Brand-Primary-SBA-Blue);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 38px;
}

.noCertificationMessageContainer {
    display: flex;
    padding: 24px 0;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.learnMore a {
    align-self: stretch;
    color: var(--Text-Text);
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 8px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
}

.resource-location-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 390px;
    border-left: 1px solid var(--Neutrals-Light-Gray-4);
    background: var(--Neutrals-Light-Gray);
    gap: 20px;
}

.resource-location-bottom {
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px 20px 30px;
    border-left: 1px solid var(--Neutrals-Light-Gray-4);
    background: var(--Neutrals-Light-Gray);
}

@media screen and (max-width: 1024px) {
    .resource-location-right {
        background: var(--Neutrals-Light-Gray);
        border-left: 1px solid var(--Neutrals-Light-Gray-4);
        display: none;
        padding: 40px 20px 20px 30px;
        width: 390px;
    }

    .resource-location-bottom {
        display: flex;
        width: unset;
        border-left: none;
    }
}

.resource-location__title {
    font-family: var(--Font-Secondary);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--Brand-Primary-SBA-Blue);
    padding-top: 40px;
    padding-bottom: 12px;
    margin-left: 33px;
    border-bottom: 1px solid #DFE1E2;
}

.resource-location__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.resource-location__scroll-area {
    height: 900px;
    overflow-y: auto;
    scrollbar-width: none;
}

.resource-location__scroll-area::-webkit-scrollbar {
    display: none;
}

.alert__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 14px;
    background: var(--Alert-Warning-Background);
}

.alert__container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: var(--Alert-Warning-Bar);
}

.alert__icon {
    margin-left: 14px;
    width: 24px;
    min-width: 24px;
    height: 24px;
}

.alert__message {
    padding-left: 16px;
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: var(--Text-Text);
}

.applyForCertificationBtn {
    margin: 0;
    color: var(--Brand-Secondary-Bright-Blue);
    text-align: center;
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    box-shadow: inset 0 0 0 2px #007DBC;
}

.applyForCertificationBtn:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px #05FC;
    color: var(--Brand-Secondary-Bright-Blue);
    text-align: center;
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
}

.applyForCertificationBtn:active {
    outline: none;
    color: var(--Brand-Secondary-Bright-Blue);
    text-align: center;
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    box-shadow: unset;
}

.applyForCertificationBtn:hover {
    border: 2px solid var(--Brand-Secondary-Bright-Blue);
    color: var(--Brand-Secondary-Bright-Blue);
    text-align: center;
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    box-shadow: unset;
}

.linkCertificationBtn:disabled {
    color: #454545;
    background: #C9C9C9;
    text-align: center;
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    box-shadow: unset;
    margin: 0;
}

.btnGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.alertContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.noCertsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

.noCertsIcon {
    height: 100px;
    width: 100px;
}

.noCertsText {
    align-self: stretch;
    color: var(--Brand-Primary-SBA-Blue);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

.certificationRow:last-child {
    /*Add effort padding so that box shadow does not get cut off.*/
    padding-bottom: 15px;
}

.footerBtnOutline {
    align-items: center;
    border: 2px;
    box-shadow: inset 0 0 0 2px var(--Brand-Secondary-Bright-Blue);
    color: var(--Brand-Secondary-Bright-Blue);
    display: flex;
    flex: 1;
    font-size: 18px;
    height: 38px;
    justify-content: center;
    margin-right: 0;
    padding: 0;
}

.footerBtnOutline:focus {
  box-shadow: 0 0 0 3px #05fc;
  border-radius: 2px;
  color: var(--Brand-Secondary-Bright-Blue);
}

.footerBtn {
    align-items: center;
    border: 2px;
    display: flex;
    flex: 1;
    font-size: 18px;
    gap: 10px;
    height: 38px;
    justify-content: center;
    margin-right: 0;
    padding: 0;
}

.radio {
    min-width: 30px;
    width: 29px;
    height: 29px;
    outline: none;
}

.radioRow {
    min-height: 72px;
    margin-bottom: 16px;
    border-color: var(--Base-base-lighter);
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--Base-base-lighter);
    border-radius: 8px;
    background: var(--Base-white);
    box-shadow: 0 7px 15px 0 rgba(27, 30, 41, 0.07);
}

.radioLabel {
    width: 100%;
    align-items: center;
    border-radius: 0.5rem !important;
    word-wrap: break-word;
    padding: 0 !important;
}

.radio:focus {
    outline: none;
}

.radioLabel::before {
    margin-left: 20px;
    box-shadow: 0 0 0 2px var(--Brand-Primary-SBA-Blue);
}

.usa-radio__label::before {
    margin-top: 25px;
    padding-left: 20px;
}

.infoIcon {
    width: 24px;
    height: 24px;
    color: var(--Brand-Primary-SBA-Blue);
}

.toolTip {
    position: relative;
    display: inline-block;
    margin: auto;
    padding-right: 20px;
}

.toolTip .toolTipText {
    visibility: hidden;
    font-family: var(--Font-Primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    width: 270px;
    background-color: var(--Brand-Secondary-Bright-Blue);
    color: var(--Base-white);
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -250px;
}

.toolTip .toolTipText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 240px !important;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--Brand-Secondary-Bright-Blue) transparent;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.usaForm a:where(:not(.usa-button)) {
    color: var(--Base-white);
}

.usaForm a:visited {
    color: var(--Base-white);
}

@media (min-width: 30em) {
    .usaForm {
        max-width: none;
    }
}

.usaIcon {
    height: 18px;
    width: 18px;
}

.iconContainer {
    height: 24px;
    width: 24px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.checkboxLabel {
    font-family: var(--Font-Primary);
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 92px;
    text-align: left;
    color: var(--Brand-Primary-SBA-Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
}