.container {
  align-items: center;
  border-radius: 8px;
  border: 5px solid var(--Base-white, #ffffff);
  box-shadow: 0 7px 15px 0 rgba(27, 30, 41, 0.07);
  gap: 14px;
  margin: 0;
  padding-bottom: 20px;
}

.headerRow {
  /* align-items: center; */
   align-self: stretch;
  background: rgba(165, 198, 224, 0.2);
  display: flex;
  gap: 10px;
  padding: 20px;
  @apply flex-col sm:flex-row md:flex-row lg:flex-col xl:flex-row 2xl:flex-row;
}

.headerIcon {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  flex: 1 0 0;
  color: var(--Primary-primary-darker, #162e51);
  font-family: var(--Font-Primary);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.body {
  width: 100%;
}

.body:last-child {
  padding: unset;
}