.alertContainer {
  position: relative;
  display: flex;
  padding: 8px 16px 8px 14px;
}

.alertContainer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
}

.alertIcon {
  margin-left: 14px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  fill: var(--Text-Text);
}

.alertMessage {
  color: var(--Text-Text);
  font-family: var(--Font-Secondary);
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
  padding-top: 4px;
  text-align: left;
}

.alert-info {
  background: var(--Alert-Info-Background);
}

.alert-info::before {
  background-color: var(--Alert-Info-Bar);
}

.alert-warning {
  background: var(--Alert-Warning-Background);
}

.alert-warning::before {
  background-color: var(--Alert-Warning-Bar);
}

.alert-error {
  background: var(--Alert-Error-Background);
}

.alert-error::before {
  background-color: var(--Alert-Error-Bar);
}