.container {
    display: flex;
    width: 552px;
    flex-direction: column;
    align-items: center;
}

.frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: 4px;
    width: 100%;
}

.label {
    color: var(--Brand-Primary-SBA-Blue);
    font-family: var(--Font-Primary);
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    width: 100%;
    text-align: start;
}

.value {
    color: var(--Brand-Primary-SBA-Blue);
    font-family: var(--Font-Primary);
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
}
