.usa-nav-container {
    width: 100vw;
    margin: 0;
    max-width: unset;
}

.usa-header {
    border-bottom: 1px solid lightgray
}

.usa-logo {
    margin-top: 1rem;
    height: 32px
}
.usa-banner__header {
    text-align: left;
}

.usa-banner__inner {
    width: 100vw;
    margin: 0;
    max-width: unset;
    justify-content: start;
}

.pill-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #007DBC;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.pill-button img {
    width: 20px;
    height: auto; 
}
