.titleRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.titleContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}

.title {
    flex-grow: 1;
    font-family: var(--Font-Secondary);
    font-weight: 400;
    color: var(--Brand-Primary-SBA-Blue);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 38px;
    margin-right: 5px;
}

.subtitle {
    color: var(--Brand-Primary-SBA-Blue);
    font-family: var(--Font-Primary);
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subheader {
    color: var(--Primary-primary-darker);
    font-family: var(--Font-Secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.addBusinessBtn {
    white-space: nowrap;
}

.categoryGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.cardBody {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px;
}

.alertContainer {
    margin-top: 40px;
    margin-bottom: 40px;
}

.businessRow {
    margin-bottom: 40px;
}

.noBusinessesContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.businessesContainer {
    padding-top: 40px;
    padding-bottom: 40px;
}
.businessesHeader {
    color: var(--Brand-Primary-SBA-Blue);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;
}

.noBusinessesMessageContainer {
    display: flex;
    /*padding: 24px 0;*/
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    justify-content: center;
}


.noBusinessesText {
    color: var(--Brand-Primary-SBA-Blue);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
