.title__row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.title {
  flex-grow: 1;
  font-family: var(--Font-Secondary);
  font-weight: 400;
  color: #002e6d;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.subtitle {
  color: var(--Brand-Primary-SBA-Blue);
  font-family: var(--Font-Primary);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 21px;
  margin-bottom: 21px;
}
.subheader {
  color: var(--Brand-Primary-SBA-Blue);
  font-family: var(--Font-Primary);
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  margin:auto;
}

.subheader-padding{
  margin-top:10px;
}

.usa-card__row {
  display: flex;
  align-items: center;
  width: 100%;
}

.usa-card__text-center {
  color: #002E6D;
  font-family: var(--Font-Primary);
  font-weight: 400;
  font-size:16px;
  flex-grow: 1;
  text-align: center;
  margin-left:0;
}

.usa-card__text-center:last-child{
  text-align:end;
}

.usa-card__text-center:first-child{
  text-align:start;
}

.badge {
  background: var(--warningwarning-lighter, #faf3d1);
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px 5px 12px;
  position: relative;
  background-color: var(--warningwarning-lighter);
  border-radius: 34px;
  overflow: hidden;
  border: 2px solid;
  border-color: var(--warningwarning);
}

.usa-card__container {
  border: unset;
  margin: unset;
  border-radius: 8px;
  box-shadow: 0 7px 15px 0 rgba(27, 30, 41, 0.07);
  min-height: 126px;
  margin-bottom:20px;
}

.card__header {
  background: rgba(165, 198, 224, 0.2);
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Brand-Primary-SBA-Blue);
}

.store_icon {
  fill: var(--Brand-Primary-SBA-Blue);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;
}

.toggle__icon {
  fill: var(--Brand-Primary-SBA-Blue);
  width: 30px;
  height: 30px;
  margin-right:20px;
  cursor: pointer ;
}

.resource-location-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 390px;
  border-left: 1px solid var(--Neutrals-Light-Gray-4, #e0e0e0);
  background: var(--Neutrals-Light-Gray, #fbfcfd);
  gap: 20px;
}

.resource-location-bottom {
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px 20px 30px;
  border-left: 1px solid var(--Neutrals-Light-Gray-4, #e0e0e0);
  background: var(--Neutrals-Light-Gray, #fbfcfd);
}

@media screen and (max-width: 1024px) {
  .resource-location-right {
    display: none;
    width: 390px;
    border-left: 1px solid lightgray;
    padding: 40px 20px 20px 30px;
    border-left: 1px solid var(--Neutrals-Light-Gray-4, #e0e0e0);
    background: var(--Neutrals-Light-Gray, #fbfcfd);
  }

  .resource-location-bottom {
    display: flex;
    width: unset;
    border-left: none;
  }
}

.resource-location__title {
  font-family: var(--Font-Secondary);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: var(--Brand-Primary-SBA-Blue);
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 12px;
  margin-left: 33px;
  border-bottom: 1px solid #dfe1e2;
  width:80%;
  letter-spacing: 0;
  text-align: left;
}

.resource-location__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@media (min-width: 1024px) {
  .resource-location__scroll-area {
    height: auto;
    overflow-y: visible;
  }
}

.grid-row-centered {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
  height:72px;
}

.usa-card__body {
  padding: 12px 20px 18px 20px;
}