.cancelBtn, .continueBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 16px;
}