.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 138px;
  padding-right: 138px;
}

.cornerWrapper {
  overflow: hidden;
  border-radius: 32px 32px 0 0;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.contentHeader {
  display: grid;
  grid-template-areas: "leftButton text text rightButton";
  margin-top: 15px;
  margin-bottom: 56px;
  width: 100%;
  max-width: 1055px;
}

.contentHeader > div:nth-child(1) {
  justify-self: start; /* Aligns first child to the start of the column */
}

.contentHeader > div:nth-child(2) {
  justify-self: center; /* Aligns second child to the center of the column */
}

.contentHeader > div:nth-child(3) {
  justify-self: end; /* Aligns third child to the end of the column */
}

.textContainer {
  max-width: 488px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  text-align: center;
}

button.usa-button {
  justify-self: center;
}

.title {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  color: var(--Brand-Primary-SBA-Blue);
  margin-bottom: 16px;
}

.message {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: var(--Brand-Primary-SBA-Blue);
}

@media (max-width: 1346px) {
  .mainContainer {
    margin: 0px;
    padding: 0px 20px;
  }
}

@media (max-width: 768px) {
  .contentHeader {
    display: grid;
    grid-template-areas:
      "leftButton rightButton"
      "text text";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    grid-row-gap:40px;
  }
  .mainContainer{
    margin-bottom:40px;
  }
  .btnOutline,
  .btnDisabled {
    max-width: none; /* Remove max width to allow stretching */
    flex: 1; /* Allow buttons to expand */
    margin: 0; /* Remove any margins that might restrict the buttons */
  }

  .btnOutline {
    justify-self: start; /* Align the first button to the left */
  }

  .btnDisabled {
    justify-self: end; /* Align the second button to the right */
  }
}

.btnOutline{
  grid-area: leftButton;
  width: 109px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 2px;
  box-shadow: inset 0 0 0 2px #007dbc; /* Shadow only necessary for the outline button */
  color: var(--Brand-Secondary-Bright-Blue);
  margin-right: 0px;
}

.footerBtnOutline {
  margin-right:0px;
  height:44px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex: 1;
  border:2px;
  box-shadow:inset 0 0 0 2px #007DBC;
  color:var(--Brand-Secondary-Bright-Blue);
}

.footerBtn {
  margin-right:0px;
  height:44px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex: 1;
  border:2px;
}