@tailwind base;
@tailwind components;
@tailwind utilities;

/* Source Sans Pro */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2");
}

/* Public Sans */
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/public-sans-regular.woff2") format("woff2");
}

:root {
  --Base-base-dark: #565c65;
  --Base-base-lighter: #dcdee0;
  --Base-white: #ffffff;
  --Brand-Primary-SBA-Blue: #002e6d;
  --Brand-Secondary-Bright-Blue: #007dbc;
  --Neutrals-Light-Gray-4: #e0e0e0;
  --Neutrals-Light-Gray: #fbfcfd;
  --SBA-CRM-text-text-light: #71767a;
  --SBA-Celeste: #007dbc;
  --SBA-Dark-Blue: #000441;
  --Text-Text: #1b1b1b;

  --sba-celeste: #007dbc;
  --sba-dark-celeste: #00518b;
  --sba-light-celeste: #58acef;
  --baseink: #1b1b1b;
  --basewhite: #ffffff;
  --sba-dark-blue: #000441;
  --base-ink: #1b1b1b;
  --base-dark: #565c65;
  --warningwarning-light: #fee685;
  --base-lightest: #f0f0f0;
  --base-lighter: #dfe1e2;
  --warningwarning-lighter: #faf3d1;
  --warningwarning: #ffbe2e;
  --successsuccess: #00a91c;
  --successsuccess-lighter: #ecf3ec;
  --primaryprimary-lighter: #d9e8f6;
  --primaryprimary-darker: #162e51;
  --primaryprimary-dark: #1a4480;
  --primaryprimary: #005ea2;
  --primarywhite: #ffffff;
}

.sba-blue {
  color: var(--Brand-Primary-SBA-Blue);
}

.container-row {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 730px;
  margin: 40px;
  max-width: 730px;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.open-sign {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.title {
  font-family: "Source Sans Pro-Regular", Helvetica, serif;
  font-weight: 400;
  color: #002e6d;
  font-size: 32px;
  margin-bottom: 20px;
}

.subtitle {
  color: #002e6d;
  font-family: "Source Sans Pro-Regular", Helvetica, serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 20px;
}

.label {
  font-family: "Source Sans Pro-Regular", Helvetica, serif;
  font-weight: 400;
  color: #002e6d;
  font-size: 40px;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: #007dbc;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background: #005ea2;
}

.usa-current.side-nav-link {
  outline: none;
}

*:focus {
  outline: none;
}

/* USWDS Overrides */
[contentEditable=true]:focus, [href]:focus, [tabindex]:focus, iframe:focus {
  text-decoration: none;
  outline: none;
}

.usa-button {
  width: auto;
  background-color: var(--Brand-Secondary-Bright-Blue);
}

.usa-button--outline {
  background-color: transparent;
  color: var(--Brand-Secondary-Bright-Blue);
}

.side-nav-link {
  outline: none;
  color: var(--SBA-Dark-Blue);
  font-family: "Source Sans Pro", serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.usa-sidenav .usa-current {
  background-color: #f5f5f5;
}

.usa-current {
  background-color: #F0F0F0;
  border: unset;
  color: var(--Brand-Primary-SBA-Blue);
  font-family: "Source Sans Pro", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

button {
  outline: none;
}

.grid-col-wrap {
  flex: unset;
  display: flex;
  flex-wrap: wrap;
}

a,
a:focus,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
