@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --sba-celeste: rgba(0, 125, 188, 1);
    --sba-dark-celeste: rgba(0, 81, 139, 1);
    --sba-light-celeste: rgba(88, 172, 239, 1);
    --sba-blue: rgba(0, 46, 109, 1);
    --baseink: rgba(27, 27, 27, 1);
    --basewhite: rgba(255, 255, 255, 1);
    --sba-dark-blue: rgba(0, 4, 65, 1);
    --basebase-ink: rgba(27, 27, 27, 1);
    --basebase-dark: rgba(86, 92, 101, 1);
    --warningwarning-light: rgba(254, 230, 133, 1);
    --basebase-lightest: rgba(240, 240, 240, 1);
    --basebase-lighter: rgba(223, 225, 226, 1);
    --warningwarning-lighter: rgba(250, 243, 209, 1);
    --warningwarning: rgba(255, 190, 46, 1);
    --successsuccess: rgba(0, 169, 28, 1);
    --successsuccess-lighter: rgba(236, 243, 236, 1);
    --primaryprimary-lighter: rgba(217, 232, 246, 1);
    --primaryprimary-darker: rgba(22, 46, 81, 1);
    --primaryprimary-dark: rgba(26, 68, 128, 1);
    --primaryprimary: rgba(0, 94, 162, 1);
    --primarywhite: rgba(255, 255, 255, 1);
    --components-button-text-font-family: "Roboto-Bold", Helvetica;
    --components-button-text-font-weight: 700;
    --components-button-text-font-size: 16px;
    --components-button-text-letter-spacing: 0px;
    --components-button-text-line-height: 24px;
    --components-button-text-font-style: normal;
    --prose-h4-font-family: "SourceSans Pro-Bold", Helvetica;
    --prose-h4-font-weight: 700;
    --prose-h4-font-size: 16px;
    --prose-h4-letter-spacing: 0px;
    --prose-h4-line-height: 120.00000476837158%;
    --prose-h4-font-style: normal;
    --sans-md-font-family: "SourceSans Pro-Regular", Helvetica;
    --sans-md-font-weight: 400;
    --sans-md-font-size: 17px;
    --sans-md-letter-spacing: 0px;
    --sans-md-line-height: normal;
    --sans-md-font-style: normal;
    --sans-sm-font-family: "SourceSans Pro-Regular", Helvetica;
    --sans-sm-font-weight: 400;
    --sans-sm-font-size: 16px;
    --sans-sm-letter-spacing: 0px;
    --sans-sm-line-height: normal;
    --sans-sm-font-style: normal;
    --body-font-family: "SourceSans Pro-Regular", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-letter-spacing: 0px;
    --body-line-height: 150%;
    --body-font-style: normal;
    --sans-xl-font-family: "SourceSans Pro-Regular", Helvetica;
    --sans-xl-font-weight: 400;
    --sans-xl-font-size: 32px;
    --sans-xl-letter-spacing: 0px;
    --sans-xl-line-height: 120.00000476837158%;
    --sans-xl-font-style: normal;
    --sans-lg-font-family: "SourceSans Pro-Regular", Helvetica;
    --sans-lg-font-weight: 400;
    --sans-lg-font-size: 22px;
    --sans-lg-letter-spacing: 0px;
    --sans-lg-line-height: 120.00000476837158%;
    --sans-lg-font-style: normal;
    --sans-3xs-font-family: "SourceSans Pro-Regular", Helvetica;
    --sans-3xs-font-weight: 400;
    --sans-3xs-font-size: 13px;
    --sans-3xs-letter-spacing: 0px;
    --sans-3xs-line-height: normal;
    --sans-3xs-font-style: normal;
    --headings-h3-font-family: "PublicSans-SemiBold", Helvetica;
    --headings-h3-font-weight: 600;
    --headings-h3-font-size: 24px;
    --headings-h3-letter-spacing: 0px;
    --headings-h3-line-height: 28px;
    --headings-h3-font-style: normal;
    --h4-font-family: "PublicSans-Bold", Helvetica;
    --h4-font-weight: 700;
    --h4-font-size: 16px;
    --h4-letter-spacing: 0px;
    --h4-line-height: normal;
    --h4-font-style: normal;
    --headings-h5-font-family: "PublicSans-SemiBold", Helvetica;
    --headings-h5-font-weight: 600;
    --headings-h5-font-size: 18px;
    --headings-h5-letter-spacing: 0px;
    --headings-h5-line-height: 22px;
    --headings-h5-font-style: normal;
    --body-paragraph-default-font-family: "PublicSans-Regular", Helvetica;
    --body-paragraph-default-font-weight: 400;
    --body-paragraph-default-font-size: 16px;
    --body-paragraph-default-letter-spacing: 0px;
    --body-paragraph-default-line-height: 20px;
    --body-paragraph-default-font-style: normal;
    --sans-2xs-font-family: "SourceSans Pro-Regular", Helvetica;
    --sans-2xs-font-weight: 400;
    --sans-2xs-font-size: 14px;
    --sans-2xs-letter-spacing: 0px;
    --sans-2xs-line-height: normal;
    --sans-2xs-font-style: normal;
    --body-paragraph-small-font-family: "PublicSans-Regular", Helvetica;
    --body-paragraph-small-font-weight: 400;
    --body-paragraph-small-font-size: 14px;
    --body-paragraph-small-letter-spacing: 0px;
    --body-paragraph-small-line-height: 18px;
    --body-paragraph-small-font-style: normal;
    --headings-h4-font-family: "PublicSans-Regular", Helvetica;
    --headings-h4-font-weight: 400;
    --headings-h4-font-size: 20px;
    --headings-h4-letter-spacing: 0px;
    --headings-h4-line-height: 24px;
    --headings-h4-font-style: normal;
    --body-single-line-small-font-family: "PublicSans-Regular", Helvetica;
    --body-single-line-small-font-weight: 400;
    --body-single-line-small-font-size: 14px;
    --body-single-line-small-letter-spacing: 0px;
    --body-single-line-small-line-height: 16px;
    --body-single-line-small-font-style: normal;
    --subtle-drop-shadow: 0px 7px 15px 0px rgba(27, 30, 41, 0.07);
    --variable-collection-SBA-dark-blue: rgba(0, 4, 65, 1);
    --SBA-CRM-neutrals-light-gray-4: rgba(224, 224, 224, 1);
    --SBA-CRM-neutrals-light-gray: rgba(251, 252, 253, 1);
    --SBA-CRM-text-text-light: rgba(113, 118, 122, 1);
}

.sba-blue {
    color: var(--sba-blue, #002E6D);
}