.inputGroup {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
    width: 100%;
}

.inputLabel {
    color: var(--Text-Text);
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inputHelp {
    color: #757575;
    font-family: var(--Font-Secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    fill: #FFF;
    height: 40px;
    stroke-width: 1px;
    stroke: var(--Text-Text);
    width: 100%;
}